OPENAI_API_KEY = hbfwefjmldxwdqowdjierjengmxdfejoiw
GOOGLE_API_KEY =jdhewbfdn kndwefkdjwensdxcjhsdnfkwe
GROQ_API_KEY = fhjdsjkmfesdjjmscfbwdf
OLLAMA_MODEL = ollama:llama3.2
GROQ_MODEL = groq:qwen/qwan3.8-27b
